.banner {
	display: flex;
	height: 330px;
	background-color: #fff !important;
}

.image__carousel {
	width: 100%;
}

.image__slider > img {
	height: 330px !important;
	width: 100% !important;
	overflow: hidden;
}

.banner__category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 25%;
}

.bannerCategory__list {
	font-family: "Bebas Neue";
	font-size: 30px;
	text-align: center;
	letter-spacing: 6px;
}
.bannerCategoryList__content {
	text-decoration: none !important;
	color: #16243e !important;
	font-family: "Roboto", sans-serif;
}

.MuiListItemText-root {
	cursor: pointer;
	margin-top: 15px !important;
}

.MuiListItemText-root:hover {
	color: #1a9cb7;
	background-color: #eceff1;
}

@media screen and (max-width: 1165px) {
	.banner__category {
		display: none;
	}
	.image__carousel {
		width: 100% !important;
	}
}
