.singleProduct__cart {
	max-width: 200px !important;
	max-height: 250px;
}

.singleProduct__cart:hover {
	display: none;
	transition: 5ms;
}

.singleProduct_IconBtnDiv {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
