.singleProduct__cart {
	max-width: 200px !important;
	max-height: 250px;
}

.singleProduct_IconBtnDiv {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.button {
	text-align: center;
	opacity: 0;
	transition: opacity 0.35s ease;
}

.button a {
	width: 200px;
	padding: 12px 48px;
	text-align: center;
	color: white;
	border: solid 2px white;
	z-index: 1;
}

.singleProduct__cart:hover .button {
	opacity: 1;
}
