.singleProduct__cart {
	max-width: 200px !important;
	max-height: 250px;
}

.singleProduct__cart:hover {
	display: none;
	transform: 1.35s;
}

.singleProduct_IconBtnDiv {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.button {
	width: 500px;
	left: 0;
	top: 180px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.35s ease;
}
