.navbar__main {
	background-color: #16243e;
	text-align: center;
	color: #fff;
	height: auto;
	max-height: 50px;
	padding : 10px;
	/* padding-top: 15px; */
	font-weight: 300;
}

span {
	letter-spacing: 3px;
}
