.dealSection__Carousel {
	width: 90%;
	margin: 2rem auto;
}

.dealSection__heading {
	width: 90%;
	font-weight: 500;
	font-size: 2.5rem;
	position: relative;
	padding-bottom: 0.2rem;
	margin-bottom: 19px;
}

.dealSection__heading:after {
	display: block;
	content: "";
	width: 6rem;
	height: 3px;
	background: #fa5051;
	position: absolute;
	bottom: 0;
	left: 0;
}
.dealCarousel__Images {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dealCarousel__Images > img {
	object-fit: cover;
	width: 320px;
}

/* React Carousel Package CSS */

.react-multiple-carousel__arrow--left {
	left: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
	right: calc(1% + 1px);
}

.react-multiple-carousel__arrow {
	z-index: 0;
}

.react-multiple-carousel__arrow::before {
	z-index: 0;
}
.react-multi-carousel-item {
	/* margin-right: 2rem; */
	position: relative;
	width: 288px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.react-multi-carousel-list {
	display: flex;
	align-items: center;
	overflow: hidden;
	background: #fff;
}
