.cart__table {
	padding: 30px;
	background-color: #fff;
	margin-top: 40px;
}

.cartTable__image {
	width: 150px;
	height: 100%;
}

.cartTable__imageTd {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.cart__table Th {
	font-family: "Bebas Neue";
	font-size: 18px;
}

.cartTable__imageTd > p {
	margin-left: 45px;
}

.pivoted {
	text-align: center;
}
/* .MuiDivider-root {
	height: 3px !important;
	background-color: rgba(0, 0, 0, 0.12) !important;
} */

.divider {
	display: none !important;
}

.cartLeftDiv_buttons {
	display: flex;
	justify-content: space-evenly;
	margin: 20px auto;
	width: 80%;
	flex-wrap: wrap;
}

.cartLeftDiv_buttons > Button {
	margin-top: 20px;
	padding: 15px 90px 15px 90px;
	background-color: #ff4f4f;
}
/* Right Div Section  */

.cart__rightDiv {
	height: auto;
}
.cartRightDiv_global {
	background-color: #fff;
	height: auto;
	width: 100%;
	margin: 40px 30px 16px 20px;
	padding: 40px 30px 45px 30px;
}
.cartRightDivCoupon_child {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.cartRightDivCoupon_child > Button {
	margin-left: 20px;
	background-color: #ff4f4f;
	width: 10rem;
}

.cartLeftDiv_buttons > Button:hover {
	background-color: #002347;
	transition: 0.5s;
}
.cartRightDivCoupon_child > Button:hover {
	background-color: #002347;
}

.cartRightDivRecentView_child_btn {
	width: 80% !important;
	background: #ff4f4f !important;
}
.cartRightDivRecentView_child_btn:hover {
	background-color: #002347 !important;
}
.cartRightDivSummary_child {
	display: flex;
	align-content: center;
	align-items: center;
	margin: 10px 0;
}
.cartRightDivSummary_lastChild {
	height: 30px;
	width: 90%;
	color: white;
	padding: 20px 0px 20px 5px;
	background-color: #ff4f4f;
	border-radius: 4px;
}
.wishlistRecentView__imageTd {
	height: 150px;
	width: 200px;
}

.wishlistRecentView__image {
	width: 100%;
	height: 100%;
	transform: scale(1, 1);
	transition: transform 0.8s ease;
}

/* .wishlistRecentView__image:hover {
	transform: scale(2, 2);
	cursor: pointer;
	z-index: 9999;
} */

.wishlistRecentView__TdWrapper {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

/* Media Query */

@media screen and (max-width: 40em) {
	.cartRightDiv_global {
		margin: 50px 0px 0px 0px;
	}

	.responsiveTable tbody tr {
		border: none;
		padding: 2.25em 0em;
	}

	.responsiveTable td.pivoted {
		border: none !important;
		position: relative;
		padding-left: calc(50% + 10px) !important;
		text-align: left !important;
		padding: 10px 0px;
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}

	.responsiveTable td .tdBefore {
		position: absolute;
		color: black;
		display: block;
		left: 1rem;
		width: calc(50% - 20px);
		white-space: pre-wrap;
		overflow-wrap: break-word;
		text-align: left !important;
		font-weight: 600;
	}

	.cartTable__imageTd {
		margin-bottom: 0;
	}

	br {
		display: none;
	}

	.cartTable__image {
		width: 100%;
		height: 100%;
	}

	.cartTable__delBtn {
		width: 100%;
		display: flex !important;
		justify-content: flex-end !important;
		margin-top: -25px;
	}

	.cartTable__imageTd > p {
		margin: 10px auto;
		margin-left: 0px;
	}

	.divider {
		display: block !important;
	}
}
