.MuiAppBar-positionFixed {
	top: unset !important;
	position: absolute !important;
}

.productsMainCategory__heading {
	text-align: center;
	color: black;
	font-weight: 600;
	font-size: 24px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.productsMain__content {
	text-decoration: none !important;
	color: #16243e !important;
	display: flex;
	justify-content: center !important;
}
