.MuiAppBar-positionFixed {
	top: unset !important;
	position: absolute !important;
}

.productsMainCategory__heading {
	text-align: center;
	color: black;
	font-weight: 600;
	font-size: 14px;
}

.productsMain__content {
	text-decoration: none !important;
	color: #16243e !important;
	display: flex;
	justify-content: center !important;
}
