.MuiAppBar-positionFixed {
	top: unset !important;
	position: absolute !important;
}
.productsMain__drawer {
	margin-top: 10px;
	margin-bottom: 50px;
}

.productsMain__content {
	text-decoration: none !important;
	color: #16243e !important;
	display: flex;
	justify-content: center !important;
	font-family: "Roboto" !important;
}

.productsMain__heading {
	margin: 20px 0 8px 0;
	text-align: center;
	color: black;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 3px;
	font-family: "Bebas Neue";
}

.dot {
	height: 25px;
	width: 25px;
	margin: 4px 5px;
	border-radius: 50%;
	display: inline-block;
}

/* media Query */

@media (max-width: 600px) {
	.MuiAppBar-positionFixed {
		position: fixed !important;
	}
}
