.regForm {
	height: auto;
	width: 80vw;
	margin: auto;
	/* border: 2px solid red; */
}

.regForm h4 {
	font-weight: 400 !important;
	font-family: "Bebas Neue";
	font-size: 45px;
	color: #5e6b7b;
}

.form__btn {
	margin-top: 1rem;
}
