.trending {
	width: 90%;
	margin: auto;
}

.trending__heading {
	margin-left: 40px !important;
	position: relative;
	font-size: 35px !important;
	padding-bottom: 2px;
	margin-bottom: 19px !important;
	font-weight: 500 !important;
	font-family: "Oswald" !important;
	text-transform: uppercase !important;
}
